<section class="max-w-md mx-auto flex flex-col items-center justify-center gap-8">
    <h1 class="text-center">Quotes for every day</h1>

     <% quote = @random_quote %>

    <div class="block w-full p-6 bg-sky-100 rounded-lg shadow text-center dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <blockquote class="text-2xl italic font-medium text-gray-900 dark:text-white"> <%= quote.statement %> </blockquote>
        <hr>
        <%= quote.author %>
    </div>        
    <div class="w-full flex justify-end">
        <%= button_to "Get another quote", root_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
    </div>
</section>

